# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

lambda/src/**/vendor/*
!lambda/src/**/vendor/utils.py

lambda/layers/**/*.zip


# env files
.env

# linting
.pylintrc

# Serverless directories
.serverless
